*{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #0c0c0ce0;
    display: flexbox;
    justify-content: center;
    text-align: center;
    color: aliceblue;
    height: 20vh;
}

h1{
    padding-top: 30px;
}

p{
    padding-bottom: 30px;
}

ul{
    margin: 30px;
    padding: 10px;
    text-align: center;
}
nav li{
    display: inline-block;
    text-align: center;
    width: 100px;
    text-transform:uppercase;
}

a{
  color:black;
  text-decoration: none;
}

a:active{
    color:#2e2d2d97;
}

.accesibility-a:active{
    color: #306b30;
}

section{
    border: solid 1px black;
    display: block;
    text-align:center;
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
    padding: 60px;
}

.index-section1{
    background-color: #3d5585e5;
    color: white;
}

.acercade-section{
    padding: 70px;
}

.contact-section{
    padding: 30px;
}

.accesibility{
    font-size: 1rem;
}

img{
    justify-content: center;
    width: 300px;
    transition: 0.5s;
}

img:hover{
    transform: scale(1.2);
}

footer{
    background-color: #0c0c0ce0;
    display: flexbox;
    justify-content: center;
    text-align: center;
    color: aliceblue;
    padding: 5px;
}

footer p{
    padding: 10px;
}